* {
  box-sizing: border-box; }
  
  body {
    background-color: #e6e6e6;
    font-family: helvetica;
    border: 5px groove #666666;
    padding: 20px 60px;
    width: 275px;
    margin: 500px, 1000px, 500px, 1000px;
  }
  
  .box {
    border: 2px solid #808080;
    padding: 20px;
    width: 500px;
    margin: 50px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  a.read-more {
    color: black;
  }
  
  a.read-more:hover {
    color: #808080;
  }
  
/*insert custom css below*/
