* {
  box-sizing: border-box; }
  
  body {
    background-color: #e6e6e6;
    font-family: helvetica;
    border: 5px groove #666666;
    padding: 20 px 60 px;
    width: 275 px;
    margin: 500 px, 1000 px, 500 px, 1000 px;
  }
  
  .box {
    border: 2px solid #808080;
    padding: 20 px;
    width: 500 px;
    margin: 50 px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  a.read-more {
    color: black;
  }
  
  a.read-more:hover {
    color: #808080;
  }
  
/*insert custom css below*/
